body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #262626;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  padding: 25px 0;
  text-align: center;
  font-family: montserrat;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}
nav ul li a:hover {
  background-color: deepskyblue;
}
.right-content {
  margin-left: 260px;
}
.name-tittle h2 {
  color: #fff;
}
.section {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

.section:nth-child(2) {
  background-color: #fff;
}
.section:nth-child(3) {
  background-color: #ddd;
}
.section:nth-child(4) {
  background-color: #fff;
}
.text-content h2 {
  text-transform: uppercase;
  font-size: 50px;
}
.text-content p {
  line-height: 2;
}
.text-content {
  width: 75%;
}
#home {
  background-image: url(https://images.pexels.com/photos/1260841/pexels-photo-1260841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

 #about{
  background-image: url(img/about.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ddd;
}
#blog {
  background-image: url(img/education.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ddd;
}
#contact {
  background-image: url(img/contact.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ddd;
}
.img-area {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 25px auto;
  border: 15px double #fff;
}
.img-area img {
  width: 100%;
}
.contact-links {
  color: black;
}
.contact-links a {
  color: #ddd;
  text-decoration: none;
  position: relative;
}
.contact-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}
.contact-links a:hover::before {
  width: 100%;
}
.highlight {
  font-size: 20px;
  position: relative; /* Встановлюємо позицію для псевдоелемента */
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Встановлюємо відступ віднизу підкреслення */
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s; /* Встановлюємо транзицію */
}

.highlight:hover::after {
  width: 100%; /* Додаємо підкреслення зліва направо при наведенні */
}

@media (max-width: 900px) {
  nav {
    background: #fff;
    height: 86px;
  }
  nav ul {
    width: 100%;
    border-right: none;
    height: 60px;
  }
  nav ul li a {
    border-bottom: none;
    float: left;
    margin-left: 100px;
  }
  nav ul li a:hover {
    background-color: transparent;
  }
  .right-content {
    margin-left: 0;
  }
  .img-area {
    display: none;
  }
  .text-content h2 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  nav {
    background: #fff;
    height: 60px;
  }
  nav ul li a:hover {
    background-color: transparent;
  }
  nav ul {
    width: 100%;
    border-right: none;
    height: 60px;
  }
  nav ul li a {
    border-bottom: none;
    float: left;
    margin-left: 15px;
    font-size: 12px;
  }
  .right-content {
    margin-left: 0;
  }
  .img-area {
    display: none;
  }
  .text-content h2 {
    font-size: 30px;
  }
}
